{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <!--какойто уккраденный стиль -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <!--Мой тестовый убогий стиль-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title">Спасибо что зашли, наш магазин в скором времени будет открыт!</h1>
                <h1 class="title">Оставьте свой адрес электронной почты, что бы мы смогли оповестить вас {{ name }}</h1>
                <div>
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn">Отправить</button>
                        </div>
                    </form>

            </div>

<p>Сегодня {{ current_day }}</p>

</body>
</html>